{% include "header.html" %}

<h2>Controllers</h2>

{% for controller in controllers %}
<div class="row">
	<div class="col-12">
		<h4>{{ controller.name }}</h4>
		<table class="table table-sm table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th style="width: 1%">Name</th>
				</tr>
			</thead>
			<tbody>
				{% for method in controller.methods %}
				<tr>
					<td>{{ method }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endfor %}
{% include "footer.html" %}
